.studentPersonalInformation_container {
  display: flex;
  gap: 10px;
  min-height: 200px;
  max-height: 200px;
  /* width: 95vw; */
  padding: 10px;
}

.studentInformation {
  display: grid;
  place-items: center;
  color: white;
  min-width: 180px;
  max-width: 180px;
  min-height: 180px;
  max-height: 180px;
  border-radius: 50%;
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
  background-color: #1976d2;
  background-color: #0a539c;
}

img {
  border-radius: 50%;
}

.details {
  margin: 40px 30px;
}
