.card_container {
  padding: 15px;
  margin: 10px 15px 20px 10px;
  width: 330px;
  height: 150px;
  border-top: 5px solid #1976d2;
  font-size: 48px;
}

.break_down {
  text-align: end;
  margin: -60px 10px;
}
@media screen and (max-width: 499px) {
  .card_container {
    width: 80vw;
    font-size: 40px;
  }
}

@media screen and (min-width: 499px) and (max-width: 1025px) {
  .card_container {
    width: 43vw;
    font-size: 40px;
    margin: 10px;
  }
}

/* @media screen and (min-width: 1024px) {
    .card_container{
        width: 430px;
       
    }
} */
