.searchStaff {
  display: flex;
  justify-content: right;
  /* width: 95vw; */
  margin: -20px 0px 5px 0px;
  padding: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  width: 320px;

  outline: none;
  cursor: text;
  border: 1px solid #1976d2;
  color: #333;
}

@media screen and (max-width: 499px) {
  input {
    width: 90vw;
  }
}
